* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  width: 1440px;
  height: 800px;
  padding: 163px 402px 162px 403px;
  justify-content: center;
  align-items: center;
  background: #e6eff5;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 715px;
  margin: 0 auto;
}

.div-container {
  background-color: #fff;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
  padding: 40px;
  height: 475px;
}

.div-container__h2 {
  color: #2ab3b1;
  font-family: Karla;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  width: 324px;
}

.div-container__h2-2 {
  color: #c0df33;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.225px;
  width: 367px;
  margin-top: 24px;
}

.div-container__p {
  color: #9aa7be;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.2px;
  width: 555px;
  margin: 11px 0 40px 0;
}

.card {
  display: flex;
  align-items: center;
  margin-left: -40px;
}

.card-text1 {
  width: 318px;
  height: 259px;
  flex-shrink: 0;
  background: #2ab3b1;
  padding: 40px;
  border-radius: 0 0 0 8px;
}

.card-text1 h2 {
  color: #fff;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.225px;
}
.card-text1__tital {
  display: flex;
  align-items: center;
  gap: 11px;
}
.card-text1__tital h1 {
  color: #fff;
  font-family: Karla;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.card-text1__tital span {
  color: #fff;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.2px;
  opacity: 0.5;
}
.card-text1 p {
  color: #fff;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.2px;
}

.card-text1 button {
  width: 237px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #c0df33;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
  margin-top: 26px;
}
.card-text2 {
  width: 318px;
  height: 259px;
  flex-shrink: 0;
  background: #4abfbc;
  padding: 40px;
  border-radius: 0 0 8px 0;
}

.card-text2 h2 {
  color: #fff;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.225px;
  margin-bottom: 18px;
}

.card-text2 p {
  color: #fff;
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.175px;
  width: 200px;
}
